<!-- Footer -->
<div class="container">
<footer class="page-footer font-small unique-color-dark">

    
  
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" style="font-size: 20px; font-family: Roboto Slab;">Merci d’être venue !!</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; font-family: Roboto Slab;font-size: 60px;">
          <p>is simply dummy text ofstry. Lorem Ipsum has been the industry's standard dummy text ever sin </p>
  
        </div>
        <!-- Grid column -->
  
       
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="font-size: 20px; font-family: Roboto Slab;">Conctatez Nous </h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa-solid fa-phone mr-3"></i>00221 33 456 67 87</p>
          <p>
            <i class="fa-solid fa-message mr-3"></i></i>books@gmail.com</p>
          <p>
            <i class="fa-solid fa-location-dot mr-3"></i>Dakar, Sénégal</p>
         
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</div>