<nav class="navbar navbar-expand navbar-dark bg-dark">
  <ul class="navbar-nav" style="float: left;">
      <li class="nav-item"><a class="nav-link " href="#" style="font-family: 'Rock 3D' , cursive; color: aliceblue;" > .books </a></li>
  </ul>
  <ul class="navbar-nav" style="margin-left: auto;margin-right: auto;">
    <li class="nav-item dropdown">
    </li>
  </ul> 
  <ul class="navbar-nav" style="float: right;">
      <li class="nav-item"><a class="nav-link " href="">Deconnexion</a></li>
  </ul>
</nav>