<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/header_footer.css' %}">

</head>
<body>
    {% block sidebar %}
    <header>
        <a href="{% url 'index' %}" id="books">.Books</a>
        <a href="{% url 'index' %}" id="books">Accueil</a>
        <a href="{% url 'contact' %}" id="books">Contact</a>
        <a href="{% url 'login' %}" id="books">Login</a>
        <a href="{% url 'inscription' %}" id="books">Sign up</a>
    </header>
    {% endblock %}


    {% block content %}
    {% endblock %}

    {% block footer %}
    {% endblock %}
</body>
</html>